#################
## IDEA
#################
*.idea

#################
## Sublime
#################
*.sublime-project
*.sublime-workspace

#################
## General
#################
PyRepository/*.txt
PyLog/logs/*
PyLog/*.txt
PyLog/*.bat