#################
## IDEA
#################
*.idea

#################
## Sublime
#################
*.sublime-project
*.sublime-workspace

#################
## General
#################
PyRepository/out/*
PyLog/logs/*
PyLog/out/*
.txt
